@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
         url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
            url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
            url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegularItalic.woff2') format('woff2'),
            url('../fonts/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    }    

* {
    box-sizing: border-box;
    }
    
html {
font-family: 'Muller';
}

body {
font-family: 'Muller';
}

p {
margin: 0;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: var(--text);
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
      

.container {
    max-width: 1110px;
    margin: 0 auto;
}

:root {
    --text: #121723;
    --text_gray: #A1A6B4;
    --border: #E6E8EC;
    --button: #6D31EE;
    --focus_light: #AA9DFA;
    --active: #4F28A5;
}



/* header */

.header__container {
    display: flex;
    flex-direction: column;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__top-left {
    position: relative;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 80px;
}

.header__logo:focus-visible {
    outline: 3px solid var(--focus_light);
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

.nav__item {
    margin-right: 60px;
}

.nav__item:last-child {
    margin-right: 100px;
}

.nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--text);
    transition: color .3s ease;
}

.nav__link:hover {
    color: var(--button);
}

.nav__link:focus-visible {
    color: white;
    outline: 3px solid var(--focus_light);
    background-color: var(--focus_light);
}

.nav__link:active {
    color: var(--active);
}

.header__button {
    height: 40px;
    padding: 11px 32.5px;
    font-weight: 500;
    size: 16px;
    line-height: 16px;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 77px;
    transition: background-color .3s ease;
}

.header__button:hover {
    color: white;
    background-color: var(--text);
}

.header__button:focus-visible {
    outline: 3px solid var(--active);
    background-color: var(--focus_light);
}

.header__button:active {
    background-color: var(--active);
}

.search-form {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.search-form__input {
    display: none;
    height: 24px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
}

.search-form__send {
    cursor: pointer;
}

.search-form__input-show {
    display: block;
    width: 308px;
    border-bottom: 2px solid var(--button);
}

.search-form__send:focus-visible {
    outline: 3px solid var(--active);
}

.search-form__send svg path {
    transition: stroke .3s ease;
}

.search-form__send:hover svg path {
    stroke: var(--focus_light);
} 

.search-form__send:focus-visible svg path {
    stroke: var(--active);
}

.search-form__send:active svg path {
    stroke: var(--button);
} */

.header__bottom {
    border: 1px solid var(--border);
}

.header__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__bottom-left {
    display: flex;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 11px 0;
    margin-right: 52px;
}

.header__item-link {
    color: var(--text);
    transition: color .3s ease;
}

.header__item-link:hover {
    color: var(--button);
}

.header__item-link:focus-visible {
    color: white;
    outline: 3px solid var(--focus_light);
    background-color: var(--focus_light);
}

.header__item-link:active {
    color: var(--active);
}

.header__item:last-child {
    margin-right: 0;
    padding-right: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text);
    border-right: 1px solid var(--border);
}

.play_btn {
    margin-right: 10px;
    cursor: pointer;
}

.play_btn .svg-play {
    display: block;
}

.play_btn .svg-pause {
    display: none;
}

.play_btn.play_btn--toggle .svg-play {
    display: none;
}

.play_btn.play_btn--toggle .svg-pause {
    display: block;
}

.play_btn svg path {
    transition: fill .3s ease;
}

.play_btn:hover svg path {
    fill: var(--button)
}

.play_btn:focus-visible {
    outline: 3px solid var(--active);
}

.play_btn:focus-visible svg path {
    fill: var(--focus_light)
}

.play_btn:active svg path {
    fill: var(--active)
}

.header__music-list {
    display: flex;
    align-items: center;
}

.header__music-item {
    display: flex;
    margin-left: 12px;
}

.header__music-text {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    border-right: 1px solid #E6E8EC;
}

.header__music-text-top {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--text_gray);
}

.header__music-text-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text);
}

/* section-hero */

.section-hero__container {
    display: flex;
    justify-content: space-between;
    min-height: 450px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-hero__left {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 95px;
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

h1 i {
    font-weight: 400;
}

.section-hero__text {
    max-width: 635px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.section-hero__button {
    max-width: 245px;
    height: 70px;
    padding: 25px 54px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    background: var(--button);
    border-radius: 40px;
    transition: background-color .3s ease;
}

.section-hero__button:hover {
    background-color: var(--focus_light);
}

.section-hero__button:focus-visible {
    outline: 3px solid var(--button);
    background-color: var(--focus_light);
}

.section-hero__button:active {
    background-color: var(--active);
}

/* section-podcast */

.section-podcast {
    background: #E6E8EC;
}

.section-podcast__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px 0;
}

.section-podcast__h2 {
    margin-bottom: 30px;
}

.section-podcast__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.section-podcast__item {
    min-height: 140px;
    width: 540px;
    margin: 0 30px 30px 0;
}

.section-podcast__item:nth-child(2n) {
    margin-right: 0;
}

.section-podcast__card {
    display: flex;
    height: 100%;
}

.section-podcast__card-img {
    position: relative;
    flex-basis: 112px;
    flex-shrink: 0;
    background-size: cover;
}

.section-podcast__card-first-img {
    background-image: url(../img/podcast-1.png);
}

.section-podcast__card-second-img {
    background-image: url(../img/podcast-2.png);
}

.section-podcast__card-third-img {
    background-image: url(../img/podcast-3.png);
}

.section-podcast__card-fourth-img {
    background-image: url(../img/podcast-4.png);
}

.section-podcast__card-fifth-img {
    background-image: url(../img/podcast-5.png);
}

.section-podcast__card-sixth-img {
    background-image: url(../img/podcast-6.png);
}

.section-podcast__card-seventh-img {
    background-image: url(../img/podcast-7.png);
}

.section-podcast__card-eighth-img {
    background-image: url(../img/podcast-8.png);
}

.section-podcast__card-date {
    position: absolute;
    width: 51px;
    height: 16px;
    bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: var(--text);
    background-color: #E6E8EC;
}

.section-podcast__card-date p {
    padding-top: 4px;
    padding-left: 6px;
}

.section-podcast__card-info {
    display: flex;
    flex-direction: column;
    width: 428px;
    padding: 24px 33px 6px 30px;
    background-color: white;
}

.section-podcast__card-top {
    display: flex;
    justify-content: space-between;
}

.section-podcast__card-text {
    display: flex;
    flex-direction: column;
}

.section-podcast__card-time {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--text);
}

.section-podcast__card-song {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--text);
}

.section-podcast__card-author {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text_gray);
}

.section-podcast__card-play-button {
    padding-bottom: 5px;
    cursor: pointer;
}

.section-podcast__card-play-button .svg-play {
    display: block;
}

.section-podcast__card-play-button .svg-pause {
    display: none;
}

.section-podcast__card-play-button.play_btn--toggle .svg-play {
    display: none;
}

.section-podcast__card-play-button.play_btn--toggle .svg-pause {
    display: block;
}

.section-podcast__card-play-button svg path {
    transition: fill .3s ease;
}

.section-podcast__card-play-button svg rect {
    transition: fill .3s ease;
}

.section-podcast__card-play-button svg circle {
    transition: stroke .3s ease;
}

.section-podcast__card-play-button:hover svg path  {
    fill: var(--button);
}

.section-podcast__card-play-button:hover svg rect  {
    fill: var(--button);
}

.section-podcast__card-play-button:hover svg circle  {
    stroke: var(--button);
}

.section-podcast__card-play-button:focus-visible {
    outline: 3px solid var(--active);
}

.section-podcast__card-play-button:active svg path {
    fill: var(--active)
}

.section-podcast__card-play-button:active svg rect {
    fill: var(--active)
}

.section-podcast__card-play-button:active svg circle {
    stroke: var(--active)
}

.section-podcast__card-actions {
    display: flex;
}

/* .section-podcast__card-action-button .svg-like {
    display: block;
}

.section-podcast__card-action-button .svg-like-action {
    display: none;
}

.section-podcast__card-action-button.like_btn--toggle .svg-like {
    display: none;
}

.section-podcast__card-action-button.like_btn--toggle .svg-like-action {
    display: block;
}

.section-podcast__card-action-button.like_btn--toggle p {
    color: var(--active);
} */

.section-podcast__card-action {
    margin-right: 30px;
}

.section-podcast__card-action-play {
    display: flex;
}

.section-podcast__card-action-play svg {
    margin-right: 6px;
}

.section-podcast__card-action-play p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text_gray);
}

.section-podcast__card-action-button {
    display: flex;
    margin-right: 6px;
    cursor: pointer;
}

.section-podcast__card-action-button p {
    transition: color .3s ease;
}

.section-podcast__card-action-button svg path {
    transition: stroke .3s ease;
}

.section-podcast__card-action-button:hover svg path {
    stroke: var(--button);
}

.section-podcast__card-action-button:hover p {
    color: var(--button);
}

.section-podcast__card-action-button:focus-visible {
    background-color: var(--focus_light);
    outline: 3px solid var(--focus_light);
}

.section-podcast__card-action-button:focus-visible svg path {
    fill: white;
}

.section-podcast__card-action-button:focus-visible p {
    color: white;
}

.section-podcast__card-action-button:active svg path {
    fill: var(--active);
}

.section-podcast__card-action-button:active svg path {
    stroke: var(--active);
}

.section-podcast__card-action-button:active p {
    color: var(--active);
}

.section-podcast__card-action-button p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text_gray);
}

.section-podcast__button {
    max-width: 246px;
    height: 70px;
    padding: 24px 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--button);
    border: 2px solid var(--button);
    border-radius: 40px;
    transition: background-color .3s ease;
}

.section-podcast__button:hover {
    color: white;
    background-color: var(--button);
}

.section-podcast__button:focus-visible {
    outline: 3px solid var(--active);
    background-color: var(--focus_light);
}

.section-podcast__button:active {
    background-color: var(--active);
}

/* section-broadcast */

.section-broadcast__container {
    display: flex;
    padding: 95px 0;
}

.section-broadcast__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

.section-broadcast__h2 {
    margin-bottom: 12px;
}

.section-broadcast__left-author p {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text_gray);
}

.choices {
    width: 255px;
    font-family: inherit;
}

.choices.is-open {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.is-focused .choices__inner, .is-open .choices__inner {
    border: 1px solid #E6E8EC;
}

.choices[data-type*=select-one]:after {
    height: 8px;
    width: 8px;
    z-index: 3;
    top: 40%;
    border: 1px solid var(--text_gray);
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
    top: 60%;
    border: 1px solid var(--text_gray);
    border-width: 1px 1px 0 0;
}

.choices__inner {
    position: relative;
    padding: 12px;
    font-size: 16px;
    line-height: 16px;
    color: var(--text);
    background-color: #E6E8EC;
    border-radius: 10px;
    z-index: 2;
    transition: background .4s ease;
}

.choices__item--selectable {
    font-size: 16px;
    line-height: 16px;
}

.choices__list--dropdown .choices__item {
    font-size: 16px;
    line-height: 16px;
    color: var(--text_gray);
    border-bottom: 1px solid #D2D5DD;
    transition: background .3s ease;
}

.choices__list--dropdown .choices__item:last-child {
    border-bottom: none;
}

.choices__list--dropdown .choices__item:hover {
    color: var(--text);
    background: rgba(230, 232, 236, 0.4);
}

.choices__list--dropdown .choices__item:focus-visible {
    color: var(--text);
    background: var(--focus_light);
}

.choices__list--dropdown .choices__item:active {
    color: var(--text);
    background: #E6E8EC;
}

.choices__inner:hover {
    background: rgba(230, 232, 236, 0.4);
}

.choices__inner:active {
    background: #D2D5DD;
}

.is-open .choices__inner {
    border-radius: 10px;
}
    
.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown { 
    padding-top: 30px;
    top: calc(100% - 30px);
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
}

.choices__list--dropdown.is-active {
border: 1px solid #D2D5DD;
border-top-width: 0;
border-radius: 0 0 10px 10px;
}

.section-broadcast__left-img {
    width: 65px;
    height: 89px;
    margin-bottom: 24px;
}

.section-broadcast__left-button {
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
    padding-left: 40px;
    margin-bottom: 12px;
    font-weight: 500;
    size: 16px;
    line-height: 16px;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 77px;
    transition: background-color .3s ease;
}

.section-broadcast__left-button-svg {
    margin-right: 6px;
}

.section-broadcast__left-button svg path {
    transition: stroke .3s ease;
}

.section-broadcast__left-button:hover {
    color: white;
    background-color: var(--text);
}

.section-broadcast__left-button:focus-visible {
    outline: 2px solid var(--text);
    background-color: var(--focus_light);
}

.section-broadcast__left-button:active {
    color: white;
    background-color: var(--active);
}

.section-broadcast__left-button:hover svg path {
    stroke: white;
}

.section-broadcast__left-text {
    max-width: 255px;
    font-size: 16px;
    line-height: 150%;
    color: var(--text_gray);
}

.section-broadcast__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.section-broadcast__item {
    width: 255px;
    height: 260px;
    padding-top: 13px;
    margin: 0 30px 30px 0;
}

.section-broadcast__item:nth-child(3n) {
    margin-right: 0;
}

.section-broadcast__card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.section-broadcast__img {
    flex-basis: 148px;
    flex-shrink: 0;
    background-size: cover;
    overflow: hidden;
}

.section-broadcast__first-img {
    background-image: url(../img/broadcast-1.png);
}

.section-broadcast__second-img {
    background-image: url(../img/broadcast-2.png);
}

.section-broadcast__third-img {
    background-image: url(../img/broadcast-3.png);
}

.section-broadcast__fourth-img {
    background-image: url(../img/broadcast-4.png);
}

.section-broadcast__fifth-img {
    background-image: url(../img/broadcast-5.png);
}

.section-broadcast__sixth-img {
    background-image: url(../img/broadcast-6.png);
}

.section-broadcast__card-info {
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    border: 1px solid var(--border);
}

.section-broadcast__card-name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--text);
}

.section-broadcast__card-date {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 12px;
    color: var(--text_gray);
}

.section-broadcast__card-link {
    max-width: 130px;
    color: var(--text);
    font-size: 16px;
    line-height: 16px;
    transition: color .3s ease;
}

.section-broadcast__card-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 148px;
    transition: background-color .3s ease;
}

.section-broadcast__card-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 260px;
    transition: outline-offset .3s;
}

.section-broadcast__card-link:hover::before {
    background-color:rgba(255, 255, 255, 0.3);
}

.section-broadcast__card-link:focus-visible::after {
    outline: 2px solid var(--button);
    outline-offset: 7px;
}


.section-broadcast__card-link svg path {
    transition: fill .3s ease;
}

.section-broadcast__card-link:hover {
    color: var(--button);
}

.section-broadcast__card-link:hover svg path {
    fill: var(--button);
}

.section-broadcast__card-link:focus-visible {
    color: white;
    background-color: var(--focus_light);
    outline: 3px solid var(--focus_light);
}

.section-broadcast__card-link:focus-visible svg path {
    fill: white;
}

.section-broadcast__card-link:active::before {
    background-color:rgba(255, 255, 255, 0.3);
}

.section-broadcast__card-link:active {
    color: var(--active);
}

.section-broadcast__card-link:active svg path {
    fill: var(--active);
}

/* section-guests */

.section-guests {
    background-color: var(--text);
}

.section-guests__container {
    padding: 95px 0;
}

.section-guests__h2 {
    margin-bottom: 12px;
    color: white;
    font-size: 48px;
    line-height: 48px;
}

.section-guests__text-bold {
    margin-bottom: 8px;
    color: var(--text_gray);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.section-guests__text-description {
    margin-bottom: 50px;
    max-width: 825px;
    color: var(--text_gray);
    font-size: 20px;
    line-height: 160%;
}

.section-guests__main {
    display: flex;
    justify-content: space-between;
}

.accordion-ul {
    width: 100%;
    list-style-type: none;
  }
  
.accordion-li {
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--text_gray);
    transition: border 0.5s;
}

.accordion-li:first-child {
    border-color: var(--text_gray);
}


.section-guests__item {
    position: relative;
    padding: 25px 0;
    padding-right: 75px;
    cursor: pointer;
}

.section-guests__item:hover .section-guests__heading {
    color: var(--focus_light);
}

.section-guests__item:focus-visible {
    outline: none;
    background-color: #292E39;
}

.section-guests__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: white;
    transition: color .5s;
}

.section-guests__item svg {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
    transition: transform .3s ease;
}

.section-guests__item svg path {
    transition: fill .3s;
}

.section-guests__item svg circle {
    transition: stroke .3s;
}

.section-guests__item:hover svg circle {
    stroke: var(--focus_light);
}

.section-guests__item:hover svg path {
    stroke: var(--focus_light);
}

.section-guests__item:active svg circle {
    fill: var(--focus_light);
}

.section-guests__item:active svg path {
    stroke: white;
}

.accordion-body {
    display: flex;
    justify-content: space-between;
}

.section-guests__item.ui-accordion-header-active svg {
    transform: rotate(180deg);
}

.accordion-body__list {
    display: flex; 
    flex-direction: column;
    margin-bottom: 30px;
}

.accordion-body__item {
    margin-bottom: 16px;
}

.accordion-body__item:last-child {
    margin-bottom: 0;
}

.accordion-body__item-button {
    font-size: 16px;
    line-height: 16px;
    color: white;
    cursor: pointer;
}

.accordion-body__item-button:focus-visible {
    outline: 3px solid var(--active);
}

.accordion-body__item-button-active {
    color: var(--focus_light);
}

.section-guests__main-right {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    padding-left: 30px;
}

.section-guests__main-right-img {
    width: 350px;
    height: 220px;
    margin-bottom: 15px;
}

.section-guests__main-list {
    display: flex;
    margin-bottom: 15px;
}

.section-guests__main-item {
    margin-right: 34px;
}

.section-guests__main-item a svg path {
  transition: fill .3s ease;
}

.section-guests__main-item a:hover svg path{
  fill: var(--button);
}

.section-guests__main-item a:focus-visible {
  outline: 5px solid var(--focus_light);
}

.section-guests__main-item a:active svg path{
  fill: var(--active);
}

.section-guests__main-right-description {
    display: flex;
    flex-direction: column;
}

.section-guests__main-right-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: white;
}

.section-guests__main-right-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 29px;
    color: var(--text_gray);
}

.section-guests__main-right-link {
    width: 160px;
    height: 40px;
    padding: 10px 17.5px;
    color: var(--focus_light);
    border: 2px solid var(--focus_light);
    border-radius: 77px;
    transition: background-color .3s ease;
}

.section-guests__main-right-link:hover {
    color: white;
    background-color: var(--focus_light);
}

.section-guests__main-right-link:focus-visible {
    border: 0;
    outline: 3px solid var(--active);
    background-color: var(--button);
}

.section-guests__main-right-link:active {
    border: 0;
    background-color: var(--active);
}

.ui-state-default {
    background: none;
    border: none;
}

.section-guests__main-right-info {
    display: none;
}

.guest-info-active {
    display: block;
}

.accordion-body__item-info {
    display: none;
}

/* section-playlist */

.section-playlist__container {
    display: flex;
    padding: 94px 0;
}

.section-playlist__left {
    max-width: 350px;
}

.section-playlist__h2 {
    margin-bottom: 12px;
}

.section-playlist__category {
    border-bottom: 1px solid #D2D5DD;
}

.section-playlist__category p {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 16px;
    color: var(--text_gray);
}

.section-playlist__category-list {
    margin-bottom: 27px;
}

.section-playlist__category-item {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 20px;
    color: var(--text);
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--text_gray);
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: var(--button);
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #D2D5DD;
    border-color: var(--button);
}

.custom-checkbox:focus:not(:checked)+label::before {
    background-color: #D2D5DD;
    border-color: var(--button);
}

.custom-checkbox:checked+label::before {
    border-color: var(--button);
    background-color: var(--button);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-checkbox:disabled+label::before {
    background-color: var(--text_gray);
}

.label {
cursor: pointer;
}

.section-playlist__left-text {
    padding-top: 38px;
    font-size: 16px;
    line-height: 22px;
    color: var(--text_gray);
}

.section-playlist__left-text svg {
    padding-top: 6px;
}

.section-playlist__list {
    display: flex;
    flex-wrap: wrap;
}

.section-playlist__item {
    width: 160px;
    height: 224px;
    padding-top: 13px;
    margin: 0 30px 30px 0;
}

.section-playlist__card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.section-playlist__img {
    position: relative;
    flex-basis: 160px;
    flex-shrink: 0;
    background-size: cover;
    overflow: hidden;
}

.section-playlist__card-flag {
    position: absolute;
    top: 0;
    right: 0;
}

.section-playlist__first-img {
    background-image: url(../img/playlist-1.png);
}

.section-playlist__second-img {
    background-image: url(../img/playlist-2.png);
}

.section-playlist__third-img {
    background-image: url(../img/playlist-3.png);
}

.section-playlist__fourth-img {
    background-image: url(../img/playlist-4.png);
}

.section-playlist__fifth-img {
    background-image: url(../img/playlist-5.png);
}

.section-playlist__sixth-img {
    background-image: url(../img/playlist-6.png);
}

.section-playlist__seventh-img {
    background-image: url(../img/playlist-7.png);
}

.section-playlist__eighth-img {
    background-image: url(../img/playlist-8.png);
}

.section-playlist__nineth-img {
    background-image: url(../img/playlist-9.png);
}

.section-playlist__tenth-img {
    background-image: url(../img/playlist-10.png);
}

.section-playlist__eleventh-img {
    background-image: url(../img/playlist-11.png);
}

.section-playlist__twelfth-img {
    background-image: url(../img/playlist-12.png);
}

.section-playlist__card-info {
    padding: 16px;
    border: 1px solid var(--border);
    
}

.section-playlist__card-info p {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--text); 
    transition: color .3s ease;
}

.section-playlist__card-info:hover p {
    color: white;
}

.section-playlist__card-link {
    font-size: 12px;
    line-height: 12px;
    color: var(--text_gray);
    transition: color .3s ease;
}

.section-playlist__card-link:hover {
    color: white;
}

.section-playlist__card-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    transition: background-color .3s ease, background-image .3s ease;
}

.section-playlist__card-link::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 74px;
    transition: background-color .3s ease;
}

.section-playlist__card-link:hover::before {
    background-color: rgba(18, 23, 35, 0.8);
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='21' fill='%236D31EE'/%3E%3Cpath d='M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.section-playlist__card-link:hover::after {
    background-color: var(--button);
}